#!/usr/bin/make -f

%:
	dh $@ --without=makefile

override_dh_auto_build:
	cmake -DCMAKE_INSTALL_PREFIX=/usr .
	make
	gcc -o minui-getres getcutout/minui-getres.c -lminui

override_dh_auto_install:
	DESTDIR=debian/tmp/ make install

override_dh_install:
	install -D -m 0755 getcutout/getcutout.py debian/tmp/usr/bin/getcutout
	install -D -m 0755 minui-getres debian/tmp/usr/bin/minui-getres
	install -D -m 0644 getcutout/50-notch.conf debian/tmp/etc/systemd/system/phosh.service.d/50-notch.conf
	dh_install
